@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700;800&display=swap');

body {
  font-family: 'Baloo Tamma 2', cursive;
  background: linear-gradient(#86cca6, #16B6DF)
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
}

#root {
  height: 100vh;
  display:flex;
  justify-content:center;
}

.app-container {
  width: 920px;
  padding: 50px;

}

button {
  margin-top: 25px;
  background-color: #2020d6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  &:hover {
    background-color: #2020d6;
    opacity: 0.85;
    transition: ease 0.2s;
  }
}

.welcome-message {
  color: #2020d6;
  font-weight: bold;
  h3 {
    color: rgba(245,245,245,1);
  }
}

.question-box {
  text-align: center;
  span {
    color:#2020d6;
  }
  button {
    background-color: white;

  }
}

.yes-btn {
  color: green;
}

.no-btn {
  color: red;
}
.countdown {
  margin-bottom: 50px;
}

.film-image {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
